<p>Olá <%= @resource.email %>!</p>

<p>Alguém solicitou a recuperação de senha usando o seu e-mail. Caso tenha sido você, basta clicar no link abaixo.</p>

<p>
  <%= link_to t('actions.change', item: t('activerecord.attributes.user.password')),
              edit_password_url(@resource, reset_password_token: @token) %>
</p>

<p>Caso não tenha sido você, apenas ignore este e-mail.</p>
<p>Sua senha somente será alterada se você acessar o link enviado acima e criar uma nova senha em nosso site.</p>
